:root{
    --rating-color:#ffc107;
    --text-light:#889397;
    --bg-color:#f0f3f2;
    --text-dark-gray:#5c6c75;
    --text-dark:#21313c;
    --theme-color:#0aad0a;
    --theme-dark-color:#088a08;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    color: var(--text-dark-gray);
}
.w-5{
    width: 20%;
}
body{
        font-family: 'Inter 18pt';
}
.py{
    padding: 100px 0;
}
::selection{
    color: white;
    background-color: black;
}
/* topbar */
.topbar, .topbar select{
    background-color: var(--bg-color);
}
.topbar .topbar-lang select:hover{
    color: var(--theme-color) !important;
}
/* header */
.header .header-search-bar a{
    color: var(--text-dark-gray) !important;
    font-size: 14px;
}
.header .header-search-bar input{
    color: var(--text-dark-gray);
    width: 453px;
    border: none;
    font-size: 14px;
}
.header .header-search-bar form:hover, .header .header-search-bar a:hover{
    box-shadow: 0 3px 8px var(--theme-color);
    border: 1px solid var(--theme-color) !important;
    transition: all 0.2s ease-in-out;
}
.header ul li span{
    font-size: 10px;
    background-color: var(--theme-color);
    padding: 0 6px;
}
.header ul li:first-child span{
    top: -2px;
    right: 8px;
}
.header ul li:last-child span{
    top: -2px;
    right: -6px;
}
header .header-primary .header-primary-btn{
    padding: 9px 24px;
    background-color: var(--theme-color);
    border: transparent !important;
}
header .header-primary .header-primary-btn a i{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.686);
}
header .header-primary nav ul li a:hover{
    color: var(--theme-color) !important;
}
header hr{
    color: var(--theme-color);
}
/* stores */
.store-title{
    background-color: var(--bg-color);
}
.stores .shop-title-img{
    background-image: url(../images/store-graphics.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 160px;
}
.stores h6{
    font-size: 14px;
}
.store-item-img img{
    border-radius: 50%;
}
.stores h6 span{
    color: var(--theme-color);
}
.stores .store-content ul li i{
    font-size: 5px;
}
.store-item:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid var(--theme-color) !important;
    transition-duration: 0.5s;
}
.stores .store-item a{
    font-size: 17px;
    color: var(--text-dark);
}
.stores .store-item a:hover{
    color: var(--theme-color);
    transition-duration: 0.2s;
}
.stores .store-item ul li{
    font-size: 12px;
    color: var(--text-light);
}
.store-content p{
    color: var(--text-dark-gray);
    font-size: 12px;

}
.store-content p span{
    color: var(--theme-color) !important;
}
.store-location span{
    font-size: 10px;
    color: var(--text-dark);
    background-color: var(--bg-color) !important;
}
/* footer */
footer{
    background-color: var(--bg-color);
}
footer h6{
    font-size: 15px;
}
footer a{
    color: var(--text-dark-gray);
    font-size: 14px;
}
footer a:hover{
    color: var(--theme-color);
    transition-duration: 0.5s;
}
/* copyright */
.copyright p{
    font-size: 13px;
}
.copyright p span a{
    color: var(--theme-color);
    font-size: 13px;
    font-weight: 500;
}
.copyright ul li a:hover, .copyright ul li a i:hover{
    color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
}