:root{
    --rating-color:#ffc107;
    --text-light:#889397;
    --bg-color:#f0f3f2;
    --text-dark-gray:#5c6c75;
    --text-dark:#21313c;
    --theme-color:#0aad0a;
    --theme-dark-color:#088a08;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    color: var(--text-dark-gray);
}
.w-5{
    width: 20%;
}
body{
        font-family: 'Inter 18pt';
}
.py{
    padding: 100px 0;
}
::selection{
    color: white;
    background-color: black;
}
/* topbar */
.topbar, .topbar select{
    background-color: var(--bg-color);
}
.topbar .topbar-lang select:hover{
    color: var(--theme-color) !important;
}
/* header */
.header .header-search-bar a{
    color: var(--text-dark-gray) !important;
    font-size: 14px;
}
.header .header-search-bar input{
    color: var(--text-dark-gray);
    width: 453px;
    border: none;
    font-size: 14px;
}
.header .header-search-bar form:hover, .header .header-search-bar a:hover{
    box-shadow: 0px 3px 10px var(--theme-color) !important;
    border: 1px solid var(--theme-color) !important;
    transition: all 0.2s ease-in-out;
}
.header .header-search-bar form a:hover{
    box-shadow: 0px 3px 10px var(--theme-color) !important;
    border: none !important;
}
.header ul li span{
    font-size: 10px;
    background-color: var(--theme-color);
    padding: 0 6px;
}
.header ul li:first-child span{
    top: -2px;
    right: 8px;
}
.header ul li:last-child span{
    top: -2px;
    right: -6px;
}
header .header-primary .header-primary-btn{
    padding: 9px 24px;
    background-color: var(--theme-color);
	border: transparent !important;
}
header .header-primary .header-primary-btn a i{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.686);
}
header .header-primary nav ul li a:hover{
    color: var(--theme-color) !important;
}
header hr{
    color: var(--theme-color);
}
/* banner */
.banner .slider1, .banner .slider2{
    background-image: url('../images/slider1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
}
.banner .slider2{
    background-image: url('../images/slider2.jpg');
}
.banner .banner-title{
    padding: 128px 32px 128px 64px;
    width: 600px;
}
.banner .banner-title h6{
    font-size: 10px;
}
.banner .carousel-item .banner-title h1{
    font-size: 48px;
    width: 700px;
}
.banner .carousel-item .slider2 .banner-title h1{
    font-size: 48px;
    width: 600px;
}
.banner .banner-title h1 span{
    color: var(--theme-color);
}
.banner .banner-title p{
    font-size: 17px;
}
.banner .carousel-indicators [data-bs-target]{
    background-color: var(--text-dark-gray) !important;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.banner .carousel-indicators .active{
    background-color: var(--text-dark);
}
/* Featured catagory */
.catagory .catagory-type h6{
    font-size: 14px;
    color: var(--text-dark-gray) !important;
}
.catagory .catagory-type:hover{
    border: 1px solid var(--theme-color) !important;
    box-shadow: 0px 5px 10px var(--bg-color) !important;
    transition-duration: 0.2s;
}
.carousel-control-next, .carousel-control-prev{
    width: 20px !important;
    height: 20px !important;
    background-color: var(--bg-color) !important;
    color: var(--text-dark-gray) !important;
    width: 30px !important;
    border-radius: 50%;
    padding: 15px 0px;
    opacity: 1;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: var(--theme-color) !important;
    color: white !important;
    transition-duration: 0.2s !important;
}
.carousel-control-next{
    left: 96%;
    top: -48px;
} 
.carousel-control-prev{
    left: 92%;
    top: -48px;
}
/* offers */
.offer .offer-item1, .offer .offer-item2{
    background-image: url('../images/offer1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 210px;
}
.offer .offer-item2{
    background-image: url('../images/offer2.jpg');
}
.offer .offer-item1 a:hover, .offer .offer-item2 a:hover, .banner .banner-title a:hover{
    color: black !important;
    background-color: transparent !important;
    border: 2px solid var(--theme-color) !important;
    box-shadow: 0px 3px 8px var(--theme-color);
}
/* products */
.product .product-type:hover, .best-sells .best-sells-type:hover{
    border: 1px solid var(--theme-color) !important;
    transition-duration: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product .product-type:hover ul, .best-sells .best-sells-type:hover ul{
    opacity: 1 !important;
}

.product .product-type .red-title , .product .product-type .green-title{
    font-size: 10px;
}
.product .product-type .product-content span i, .product-type .product-content p .product .poproduct-type .product-content span p{
    font-size: 12px;
}
.product .product-type .product-content h5, .product .product-type .product-content h2, .services .services-item p{
    font-size: 14px;
}
.product .product-type .product-content small p{
    font-size: 13px;
    color: var(--text-light);
}
.product .product-content .product-button a{
    background-color: var(--theme-color);
    font-size: 12px;
}
.product .product-content .product-button a:hover{
    background-color: var(--theme-color);
}
.product .product-content h2:hover{
    color: var(--theme-dark-color);
}
.product ul{
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.product ul li:hover a i, .best-sells  ul li:hover a i{
    color: white !important;
    background-color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
    transition-duration: 0.3s;
}
/* best sells */
.best-sells .best-sells-img{
    background-image: url('../images/deal-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 470px;
    border-radius: 15px;
} 
.best-sells .best-sells-img h3{
    font-size: 24px;
}
.best-sells .best-sells-img a{
    background-color: var(--theme-color);
}
.best-sells .best-sells-img a:hover{
    color: white !important;
    background-color: transparent !important;
    transition: all 0.1s ease-in;
    border: 1px solid var(--theme-color) !important;
    box-shadow: 0px 3px 10px var(--theme-color) !important;
}
.best-sells .best-sells-content a:hover{
    color: var(--theme-dark-color) !important;
}
.best-sells .best-sells-content h5{
    font-size: 14px;
}
.best-sells .best-sells-content span , .best-sells .best-sells-content span p{
    font-size: 12px;
}
.best-sells .best-sells-button{
    font-size: 14px;
    color: white !important;
    background-color: var(--theme-color) !important;
}
.best-sells .best-sells-button:hover{
    background-color: white !important;
    color: var(--text-dark) !important;
    box-shadow: 0 3px 10px var(--theme-color) !important;
    transition: all 0.2s ease-in;
}
.best-sells-timer-type{
    width: 50px;
    height: 50px;
}
.best-sells-timer-type h6, .best-sells-timer-type p{
    font-size: 13px;
}

.best-sells .best-sells-type ul{
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.best-sells .best-sells-type ul li:hover a i{
    border: 1px solid var(--theme-color) !important;
    background-color: var(--theme-color) !important;
    color: white;
    transition-duration: 0.5s;
}
/* services */
.services i{
    color: var(--theme-color) !important;
}
.services .services-item h3{
    font-size: 18px !important;
}
/* footer */
footer{
    background-color: var(--bg-color);
}
footer h6{
    font-size: 15px;
}
footer a{
    color: var(--text-dark-gray);
    font-size: 14px;
}
footer a:hover{
    color: var(--theme-color);
    transition-duration: 0.5s;
}
/* copyright */
.copyright p{
    font-size: 13px;
}
.copyright p span a{
    color: var(--theme-color) !important;
    font-size: 13px;
    font-weight: 500;
}
.copyright ul li a:hover, .copyright ul li a i:hover{
    color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
}

